# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
#*.so
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
#*.a
#*.lib

# Executables
*.exe
*.out
*.app
/dist/
/build/
/exec/

# Program name
fcmb

# Other files
/.vscode/
*.bmp
*.wsq
